.aqua {
  background-color: $aqua !important;
}

.amber {
  background-color: $amber !important;
}

.blue {
  color: $white !important;
  background-color: $blue !important;
}
.light-blue {
  background-color: $light-blue !important;
}
.brown {
  background-color: $brown !important;
}
.cyan {
  background-color: $cyan !important;
}
.green {
  background-color: $green !important;
}
.light-green {
  background-color: $light-green !important;
}
.indigo {
  background-color: $indigo !important;
}
.khaki {
  background-color: $khaki !important;
}
.lime {
  background-color: $lime !important;
}
.orange {
  background-color: $orange !important;
}
.deep-orange {
  color: $white !important;
  background-color: $deep-orange !important;
}
.pink {
  background-color: $pink !important;
}
.deep-purple {
  color: $white !important;
  background-color: $deep-purple !important;
}
.red {
  background-color: $red !important;
}
.sand {
  background-color: $sand !important;
}
.teal {
  background-color: $teal !important;
}
.yellow {
  background-color: $yellow !important;
}
.white {
  background-color: $white !important;
}
.black {
  color: $white !important;
  background-color: $black !important;
}
.grey {
  background-color: $grey !important;
}
.mountain-meadow {
  background-color: $mountain-meadow !important;
}
.shakespeare {
  background-color: $shakespeare !important;
}
.lightning-yellow {
  background-color: $lightning-yellow !important;
}
.valencia {
  background-color: $valencia !important;
}
.gray-dark {
  background-color: $gray-dark !important;
}
.gray {
  background-color: $gray !important;
}
.gray-light {
  background-color: $gray-light !important;
}
.gray-lighter {
  background-color: $gray-lighter !important;
}
.gray-lightest {
  background-color: $gray-lightest !important;
}

